<a href="https://colab.research.google.com/github/karuego/SIC-Batch5/blob/main/W1_P1_Python_for_AI%2C_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using NumPy

Once you've installed NumPy you can import it as a library:

In [ ]:
import numpy as np
import pandas as pd

## List and Array Performance Comparison

Before we jump in, let's check list and array computation time

In [ ]:
l = list(range(1000000))
a = np.arange(10000000)

print(l)
print(a)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
%time np.sum(a ** 2)

CPU times: user 1.02 ms, sys: 1 Âµs, total: 1.02 ms
Wall time: 1.17 ms

333328333350000

In [ ]:
%time sum([x ** 2 for x in l])

CPU times: user 31.5 ms, sys: 3.99 ms, total: 35.5 ms
Wall time: 37.4 ms

333328333350000

---
Numpy has many built-in functions and capabilities. We won't cover them all but instead we will focus on some of the most important aspects of Numpy: vectors,arrays,matrices, and number generation. Let's start by discussing arrays.

## Numpy Arrays

NumPy arrays are the main way we will use Numpy throughout the course. Numpy arrays essentially come in two flavors: vectors and matrices. Vectors are strictly 1-d arrays and matrices are 2-d (but you should note a matrix can still have only one row or one column).

Let's begin our introduction by exploring how to create NumPy arrays.

In [ ]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [ ]:
np.array(my_list)

array([1, 2, 3])

In [ ]:
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]
my_matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
my_matrix * 2

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
np.array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
np.array(my_matrix)*2

array([[ 2,  4,  6],
       [ 8, 10, 12],
       [14, 16, 18]])

In [ ]:
np.array(my_matrix).dtype

dtype('int64')

In [ ]:
c = np.array([1, 2.0, 3])
print(c)
print(c.dtype)

[1. 2. 3.]
float64

In [ ]:
np.random.rand(2)

array([0.56224426, 0.61661102])

In [ ]:
np.random.rand(5,5)

array([[0.83147161, 0.95775041, 0.5643127 , 0.45690319, 0.35891455],
       [0.38705312, 0.45252009, 0.72974705, 0.75727892, 0.20278781],
       [0.6194628 , 0.74993029, 0.5754149 , 0.99134575, 0.4435996 ],
       [0.31671341, 0.86795413, 0.91041619, 0.72520115, 0.97736045],
       [0.52666752, 0.91548616, 0.06966299, 0.52856098, 0.45108406]])

---
## Array Attributes and Methods

Let's discuss some useful attributes and methods or an array

In [ ]:
arr = np.arange(25)
ranarr = np.random.randint(0,100, 2)
ranarr

array([65, 55])

In [ ]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [ ]:
ranarr

array([23, 47, 35, 32, 43, 29, 19, 45, 20, 30])

In [ ]:
# ranarr = np.random.randint(0,100, 2)
arr = np.arange(12)
print(arr)
arr.reshape(2,3,2)

[ 0  1  2  3  4  5  6  7  8  9 10 11]

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]]])

In [ ]:
ranarr = np.random.randint(0,100,5)
ranarr

array([66, 43, 31, 99, 20])

In [ ]:
ranarr.max()

99

In [ ]:
np.max(ranarr)

99

In [ ]:
ranarr.argmax()

3

In [ ]:
ranarr.min()

20

In [ ]:
ranarr.argmin()

4

---
## Dimensions and Shapes

`ndim`, `size`, and `shape`

- Shape is an attribute that arrays have (not a method)
- `ndim` returns the array dimension
- `size` returns the number of elements in the array

In [ ]:
A = np.array([
    [1, 2, 3],
    [4, 5, 6]
])
A

array([[1, 2, 3],
       [4, 5, 6]])

In [ ]:
A.shape

(2, 3)

In [ ]:
A.ndim

2

In [ ]:
A.size

6

In [ ]:
B = np.array([
    [
        [12, 11, 10],
        [9, 8, 7],
    ],
    [
        [6, 5, 4],
        [3, 2, 1]
    ]
])

In [ ]:
B

array([[[12, 11, 10],
        [ 9,  8,  7]],

       [[ 6,  5,  4],
        [ 3,  2,  1]]])

In [ ]:
B.shape

(2, 2, 3)

In [ ]:
B.ndim

3

In [ ]:
B.size

12

# NumPy Indexing and Selection

## Bracket Indexing and Selection

In [ ]:
arr = np.arange(0,11)

In [ ]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
#Get a value at an index
arr[8]

8

In [ ]:
#Get values in a range
arr[1:5]

array([1, 2, 3, 4])

In [ ]:
#Get values in a range
arr[-4:]

array([ 7,  8,  9, 10])

In [ ]:
#Get values in a range
arr[:5]

array([0, 1, 2, 3, 4])

In [ ]:
arr[0:]

In [ ]:
arr[1:3]

In [ ]:
arr[1:-1]

In [ ]:
print(arr)
arr[::5]

[ 0  1  2  3  4  5  6  7  8  9 10]

array([ 0,  5, 10])

In [ ]:
#Setting a value with index range (Broadcasting)
arr[0:5]=100

#Show
arr

array([100, 100, 100, 100, 100,   5,   6,   7,   8,   9,  10])

## Indexing a 2D array (matrices)

The general format are:
- **arr_2d[row][col]** or
- **arr_2d[row,col]**.

I recommend usually using the comma notation for clarity.

Similar with Python List, array index also start from 0

In [ ]:
arr_2d = np.array(([5,10,15],[20,25,30],[35,40,45]))

#Show
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [ ]:
#Indexing row
arr_2d[1]

array([20, 25, 30])

In [ ]:
# Format is arr_2d[row][col] or arr_2d[row,col]

# Getting individual element value
arr_2d[1][0]

20

In [ ]:
# Getting individual element value
arr_2d[1,0]

20

In [ ]:
# 2D array slicing

#Shape (2,2) from top right corner
arr_2d[:2,1:]

In [ ]:
#Shape bottom row
arr_2d[2]

In [ ]:
#Shape bottom row
arr_2d[2,:]

## Selection

Let's briefly go over how to use brackets for selection based off of comparison operators.

In [ ]:
arr = np.arange(1,11)
arr

In [ ]:
arr > 4

In [ ]:
bool_arr = arr>4

In [ ]:
bool_arr

In [ ]:
arr[bool_arr]

In [ ]:
arr[arr<6]

In [ ]:
x = 2
arr[arr>x]

# NumPy Operations

In [ ]:
arr = np.arange(0,10)

In [ ]:
arr

In [ ]:
arr + arr

In [ ]:
arr * arr

In [ ]:
arr - arr

In [ ]:
arr.sum()

In [ ]:
arr.mean()

In [ ]:
A = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

In [ ]:
A.sum()

In [ ]:
A.mean()

In [ ]:
A.sum(axis=1)

In [ ]:
A.sum(axis=0)

In [ ]:
B = np.array([
    [6, 5],
    [4, 3],
    [2, 1]
])

In [ ]:
A.dot(B), A @ B

In [ ]:
B.T

# Introduction to Pandas

In this section of the course we will learn how to use pandas for data analysis. Think of pandas as an extremely powerful version of Excel, with a lot more features. In this section of the course, you should go through the notebooks in this order:

* Introduction to Pandas
* Series
* DataFrames
* Summary Functions and Aggregation (GroupBy)
* Combining Data - Merging, Joining, and Concatenating (Optional)
* Operations
* Data Input and Output
___

In [ ]:
# Importing required libraries and fixing options
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.options.display.max_columns = None
pd.options.display.max_rows = None

%matplotlib inline

## Let's explore some COVID19 data available online using basic **Pandas functions**:
[Reference](https://ourworldindata.org/coronavirus/country/indonesia)

In [ ]:
# Importing the data from file
covid_df = pd.read_csv('https://covid.ourworldindata.org/data/owid-covid-data.csv')


# Let's see a sample of the data
covid_df.head(10) # top 5 rows

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
5,AFG,Asia,Afghanistan,2020-01-10,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
6,AFG,Asia,Afghanistan,2020-01-11,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
7,AFG,Asia,Afghanistan,2020-01-12,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
8,AFG,Asia,Afghanistan,2020-01-13,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
9,AFG,Asia,Afghanistan,2020-01-14,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [ ]:
covid_df.tail(10) #last 10 rows

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
400990,ZWE,Africa,Zimbabwe,2024-05-03,266362.0,0.0,0.429,5740.0,0.0,0.0,16320.662,0.0,0.026,351.704,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
400991,ZWE,Africa,Zimbabwe,2024-05-04,266362.0,0.0,0.429,5740.0,0.0,0.0,16320.662,0.0,0.026,351.704,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
400992,ZWE,Africa,Zimbabwe,2024-05-05,266362.0,0.0,0.000,5740.0,0.0,0.0,16320.662,0.0,0.000,351.704,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
400993,ZWE,Africa,Zimbabwe,2024-05-06,266362.0,0.0,0.000,5740.0,0.0,0.0,16320.662,0.0,0.000,351.704,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
400994,ZWE,Africa,Zimbabwe,2024-05-07,266362.0,0.0,0.000,5740.0,0.0,0.0,16320.662,0.0,0.000,351.704,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
400995,ZWE,Africa,Zimbabwe,2024-05-08,266362.0,0.0,0.000,5740.0,0.0,0.0,16320.662,0.0,0.000,351.704,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
400996,ZWE,Africa,Zimbabwe,2024-05-09,266362.0,0.0,0.000,5740.0,0.0,0.0,16320.662,0.0,0.000,351.704,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
400997,ZWE,Africa,Zimbabwe,2024-05-10,266362.0,0.0,0.000,5740.0,0.0,0.0,16320.662,0.0,0.000,351.704,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
400998,ZWE,Africa,Zimbabwe,2024-05-11,266362.0,0.0,0.000,5740.0,0.0,0.0,16320.662,0.0,0.000,351.704,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
400999,ZWE,Africa,Zimbabwe,2024-05-12,266362.0,0.0,0.000,5740.0,0.0,0.0,16320.662,0.0,0.000,351.704,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [ ]:
covid_df.sample(10, random_state=111) #Sample 10 rows randomly selected from the data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
284294,POL,Europe,Poland,2020-03-06,NaN,0.0,0.000,NaN,0.0,0.000,NaN,0.000,0.000,NaN,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.11,124.027,41.8,16.763,10.202,27216.445,NaN,227.331,5.91,23.3,33.1,NaN,6.620,78.73,0.880,39857144.0,NaN,NaN,NaN,NaN
326655,SVK,Europe,Slovakia,2023-10-03,1867525.0,0.0,14.857,21167.0,0.0,0.000,330918.737,0.000,2.633,3750.717,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,113.128,41.2,15.070,9.167,30155.152,0.7,287.959,7.29,23.1,37.7,NaN,5.820,77.54,0.860,5643455.0,NaN,NaN,NaN,NaN
52952,BGR,Europe,Bulgaria,2021-04-06,352259.0,0.0,3498.429,13507.0,0.0,122.429,51940.628,0.000,515.844,1991.609,0.000,18.052,0.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2189411.0,19244.0,317.957,2.795,15912.0,2.311,0.1655,6.0,tests performed,519635.0,414790.0,104845.0,NaN,9586.0,8701.0,7.66,6.12,1.55,NaN,1283.0,7020.0,0.104,53.70,65.180,44.7,20.801,13.272,18563.307,1.5,424.688,5.81,30.1,44.4,NaN,7.454,75.05,0.816,6781955.0,NaN,NaN,NaN,NaN
174425,JAM,North America,Jamaica,2023-05-28,154965.0,39.0,5.571,3540.0,2.0,0.286,54808.653,13.794,1.971,1252.042,0.707,0.101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN,10.0,23.0,0.001,NaN,266.879,31.4,9.684,6.390,8193.571,NaN,206.537,11.28,5.3,28.6,66.425,1.700,74.47,0.734,2827382.0,NaN,NaN,NaN,NaN
296805,RWA,Africa,Rwanda,2023-12-17,133208.0,0.0,0.000,1468.0,0.0,0.000,9669.078,0.000,0.000,106.557,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,494.869,20.3,2.974,1.642,1854.211,56.0,191.375,4.28,4.7,21.0,4.617,NaN,69.02,0.543,13776702.0,NaN,NaN,NaN,NaN
269827,OMN,Asia,Oman,2024-02-07,399449.0,0.0,0.000,4628.0,0.0,0.000,87286.454,0.000,0.000,1011.297,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.980,30.7,2.355,1.530,37960.709,NaN,266.342,12.61,0.5,15.6,97.400,1.600,77.86,0.813,4576300.0,NaN,NaN,NaN,NaN
218762,MTQ,North America,Martinique,2020-08-17,336.0,0.0,0.000,16.0,0.0,0.000,914.256,0.000,0.000,43.536,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.7,NaN,12.543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.54,NaN,367512.0,NaN,NaN,NaN,NaN
12641,AIA,North America,Anguilla,2024-02-24,3904.0,0.0,0.000,12.0,0.0,0.000,245890.282,0.000,0.000,755.810,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.88,NaN,15877.0,NaN,NaN,NaN,NaN
103228,GNQ,Africa,Equatorial Guinea,2020-02-25,NaN,0.0,0.000,NaN,0.0,0.000,NaN,0.000,0.000,NaN,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.194,22.4,2.846,1.752,22604.873,NaN,202.812,7.78,NaN,NaN,24.640,2.100,58.74,0.592,1674916.0,NaN,NaN,NaN,NaN
158026,HUN,Europe,Hungary,2022-02-05,1508358.0,0.0,15271.571,41229.0,0.0,58.143,151330.590,0.000,1532.167,4136.424,0.000,5.833,1.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37630.0,3.875,0.4119,2.4,tests performed,NaN,NaN,NaN,NaN,NaN,14915.0,NaN,NaN,NaN,NaN,1496.0,1904.0,0.019,28.57,108.043,43.4,18.577,11.976,26777.561,0.5,278.296,7.55,26.8,34.8,NaN,7.020,76.88,0.854,9967304.0,NaN,NaN,NaN,NaN

In [ ]:
covid_df['location'].value_counts()

location
Malaysia                            1602
Asia                                1602
Europe                              1602
Czechia                             1602
High income                         1602
India                               1602
Upper middle income                 1602
European Union                      1602
World                               1602
Lithuania                           1602
Lower middle income                 1602
Greece                              1601
Bulgaria                            1601
Italy                               1600
North America                       1600
Canada                              1600
Bangladesh                          1599
Netherlands                         1599
Estonia                             1598
New Zealand                         1595
Oceania                             1595
Argentina                           1594
Mexico                              1594
Thailand                            1591
Portugal                            1590
Panama                              1590
Maldives                            1590
Oman                                1590
Rwanda                              1590
Pakistan                            1590
Russia                              1590
Romania                             1590
Palau                               1590
Palestine                           1590
Reunion                             1590
Poland                              1590
Qatar                               1590
Papua New Guinea                    1590
Puerto Rico                         1590
Mali                                1590
Norway                              1590
Paraguay                            1590
Peru                                1590
Philippines                         1590
Pitcairn                            1590
Marshall Islands                    1590
Nigeria                             1590
Northern Mariana Islands            1590
Montserrat                          1590
Martinique                          1590
Mauritania                          1590
Mauritius                           1590
Malta                               1590
Mayotte                             1590
Micronesia (country)                1590
Moldova                             1590
Monaco                              1590
Mongolia                            1590
Montenegro                          1590
Morocco                             1590
North Macedonia                     1590
Mozambique                          1590
Myanmar                             1590
Namibia                             1590
Nauru                               1590
Nepal                               1590
New Caledonia                       1590
Saint Barthelemy                    1590
Niger                               1590
Niue                                1590
North Korea                         1590
Nicaragua                           1590
Afghanistan                         1590
Saint Helena                        1590
Ukraine                             1590
Tanzania                            1590
Timor                               1590
Togo                                1590
Tokelau                             1590
Tonga                               1590
Trinidad and Tobago                 1590
Tunisia                             1590
Turkey                              1590
Turkmenistan                        1590
Turks and Caicos Islands            1590
Tuvalu                              1590
Uganda                              1590
United Arab Emirates                1590
Syria                               1590
United Kingdom                      1590
United States                       1590
United States Virgin Islands        1590
Uruguay                             1590
Uzbekistan                          1590
Vanuatu                             1590
Vatican                             1590
Venezuela                           1590
Vietnam                             1590
Wallis and Futuna                   1590
Yemen                               1590
Zambia                              1590
Tajikistan                          1590
Switzerland                         1590
Saint Kitts and Nevis               1590
Singapore                           1590
Malawi                              1590
Saint Martin (French part)          1590
Saint Pierre and Miquelon           1590
Saint Vincent and the Grenadines    1590
Samoa                               1590
San Marino                          1590
Sao Tome and Principe               1590
Saudi Arabia                        1590
Senegal                             1590
Serbia                              1590
Seychelles                          1590
Sierra Leone                        1590
Sint Maarten (Dutch part)           1590
Sweden                              1590
Slovakia                            1590
Slovenia                            1590
Solomon Islands                     1590
Somalia                             1590
South Africa                        1590
South America                       1590
South Korea                         1590
South Sudan                         1590
Spain                               1590
Sri Lanka                           1590
Sudan                               1590
Suriname                            1590
Saint Lucia                         1590
Low income                          1590
Madagascar                          1590
Cook Islands                        1590
Burundi                             1590
Cambodia                            1590
Cameroon                            1590
Cape Verde                          1590
Cayman Islands                      1590
Central African Republic            1590
Chad                                1590
Chile                               1590
China                               1590
Colombia                            1590
Comoros                             1590
Congo                               1590
Costa Rica                          1590
Eritrea                             1590
Cote d'Ivoire                       1590
Croatia                             1590
Cuba                                1590
Curacao                             1590
Cyprus                              1590
Democratic Republic of Congo        1590
Denmark                             1590
Djibouti                            1590
Dominica                            1590
Dominican Republic                  1590
Ecuador                             1590
Egypt                               1590
Burkina Faso                        1590
Brunei                              1590
British Virgin Islands              1590
Brazil                              1590
Albania                             1590
Algeria                             1590
American Samoa                      1590
Andorra                             1590
Angola                              1590
Anguilla                            1590
Antigua and Barbuda                 1590
Armenia                             1590
Aruba                               1590
Australia                           1590
Austria                             1590
Azerbaijan                          1590
Bahamas                             1590
Bahrain                             1590
Barbados                            1590
Belarus                             1590
Belgium                             1590
Belize                              1590
Benin                               1590
Bermuda                             1590
Bhutan                              1590
Bolivia                             1590
Bonaire Sint Eustatius and Saba     1590
Bosnia and Herzegovina              1590
Botswana                            1590
Equatorial Guinea                   1590
El Salvador                         1590
Eswatini                            1590
Kenya                               1590
Iceland                             1590
Indonesia                           1590
Iran                                1590
Iraq                                1590
Ireland                             1590
Isle of Man                         1590
Israel                              1590
Jamaica                             1590
Japan                               1590
Jersey                              1590
Jordan                              1590
Kazakhstan                          1590
Kiribati                            1590
Haiti                               1590
Kosovo                              1590
Kuwait                              1590
Kyrgyzstan                          1590
Laos                                1590
Latvia                              1590
Lebanon                             1590
Lesotho                             1590
Liberia                             1590
Libya                               1590
Liechtenstein                       1590
Africa                              1590
Luxembourg                          1590
Hungary                             1590
Honduras                            1590
Germany                             1590
Gibraltar                           1590
Ethiopia                            1590
Faeroe Islands                      1590
Falkland Islands                    1590
Fiji                                1590
Finland                             1590
France                              1590
French Guiana                       1590
French Polynesia                    1590
Gabon                               1590
Gambia                              1590
Georgia                             1590
Ghana                               1590
Zimbabwe                            1590
Greenland                           1590
Grenada                             1590
Guadeloupe                          1590
Guam                                1590
Guatemala                           1590
Guernsey                            1590
Guinea                              1590
Guinea-Bissau                       1590
Guyana                              1590
Hong Kong                           1562
Northern Ireland                    1372
England                             1359
Taiwan                              1348
Scotland                            1305
Wales                               1198
Macao                                795
Northern Cyprus                      691
Western Sahara                         1
Name: count, dtype: int64

In [ ]:
covid_df.shape

(401000, 67)

In [ ]:
interested_countries_list = ['India','Indonesia']

covid_df1 = covid_df[
    covid_df['location'].isin(interested_countries_list)
]

In [ ]:
covid_df1.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
160444,IND,Asia,India,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,450.419,28.2,5.989,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
160445,IND,Asia,India,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,450.419,28.2,5.989,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
160446,IND,Asia,India,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,450.419,28.2,5.989,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
160447,IND,Asia,India,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,450.419,28.2,5.989,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN
160448,IND,Asia,India,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,450.419,28.2,5.989,3.414,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.645,1.417173e+09,NaN,NaN,NaN,NaN

In [ ]:
covid_df1["location"].unique()

array(['India', 'Indonesia'], dtype=object)

In [ ]:
covid_df1.head()

# slicing cara 1
slicing_1 = covid_df1[["iso_code", "continent"]].head()

#cara 2
slicing_2 = covid_df1["iso_code"].head()

# cara 3
slicing_3 = covid_df1.iso_code.head()

display(slicing_1)
display(slicing_2)
display(slicing_3)

       iso_code continent
160444      IND      Asia
160445      IND      Asia
160446      IND      Asia
160447      IND      Asia
160448      IND      Asia

160444    IND
160445    IND
160446    IND
160447    IND
160448    IND
Name: iso_code, dtype: object

160444    IND
160445    IND
160446    IND
160447    IND
160448    IND
Name: iso_code, dtype: object

In [ ]:
covid_df.iloc[: , :2].head()

  iso_code continent
0      AFG      Asia
1      AFG      Asia
2      AFG      Asia
3      AFG      Asia
4      AFG      Asia

In [ ]:
covid_df[covid_df.location == 'Indonesia'].sample(5)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
162835,IDN,Asia,Indonesia,2022-03-04,5539394.0,0.0,48841.286,148073.0,0.0,244.000,20106.595,0.000,177.281,537.467,0.000,0.886,0.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57117140.0,193981.0,208.645,0.709,213616.0,0.780,0.1578,6.3,people tested,351058900.0,191631442.0,146554884.0,11942963.0,1414860.0,971776.0,127.43,69.56,53.20,4.33,3527.0,157190.0,0.057,60.47,145.725,29.3,5.319,3.053,11188.744,5.7,342.864,6.32,2.8,76.1,64.204,1.04,71.72,0.718,275501344.0,NaN,NaN,NaN,NaN
162802,IDN,Asia,Indonesia,2022-01-30,4343185.0,56807.0,8115.286,144303.0,83.0,11.857,15764.660,206.195,29.456,523.783,0.301,0.043,2.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48343446.0,205803.0,176.595,0.752,222605.0,0.813,0.0365,27.4,people tested,NaN,184557715.0,128005763.0,NaN,NaN,1314110.0,NaN,66.99,46.46,NaN,4770.0,489483.0,0.178,60.85,145.725,29.3,5.319,3.053,11188.744,5.7,342.864,6.32,2.8,76.1,64.204,1.04,71.72,0.718,275501344.0,NaN,NaN,NaN,NaN
163304,IDN,Asia,Indonesia,2023-06-16,6810119.0,0.0,226.000,161821.0,0.0,4.571,24719.005,0.000,0.820,587.369,0.000,0.017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4452.0,NaN,NaN,NaN,NaN,16.0,239.0,0.000,NaN,145.725,29.3,5.319,3.053,11188.744,5.7,342.864,6.32,2.8,76.1,64.204,1.04,71.72,0.718,275501344.0,NaN,NaN,NaN,NaN
163581,IDN,Asia,Indonesia,2024-03-19,6828884.0,0.0,4.000,162056.0,0.0,0.000,24787.117,0.000,0.015,588.222,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.725,29.3,5.319,3.053,11188.744,5.7,342.864,6.32,2.8,76.1,64.204,1.04,71.72,0.718,275501344.0,NaN,NaN,NaN,NaN
163471,IDN,Asia,Indonesia,2023-11-30,6813429.0,0.0,0.000,161918.0,0.0,0.000,24731.019,0.000,0.000,587.721,0.000,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,145.725,29.3,5.319,3.053,11188.744,5.7,342.864,6.32,2.8,76.1,64.204,1.04,71.72,0.718,275501344.0,NaN,NaN,NaN,NaN

In [ ]:
covid_df.to_csv('covid_data_output.csv', header=True, index=False)
# covid_df.to_

In [ ]:
covid_df1.describe(include="all")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,new_vaccinations_smoothed_per_million,new_people_vaccinated_smoothed,new_people_vaccinated_smoothed_per_hundred,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,3192,3192,3192,3192,3.089000e+03,3.180000e+03,3170.000000,3040.000000,3179.000000,3169.000000,3089.000000,3180.000000,3170.000000,3040.000000,3179.000000,3169.000000,2047.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.181000e+03,1.164000e+03,1181.000000,1164.000000,1.189000e+03,1189.000000,1181.000000,1181.000000,1203,1.633000e+03,1.676000e+03,1.646000e+03,9.430000e+02,1.555000e+03,2.270000e+03,1633.000000,1676.000000,1646.000000,943.000000,2270.000000,2.270000e+03,2270.000000,2184.000000,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000,3.192000e+03,0.0,0.0,0.0,0.0
unique,2,1,2,1602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,IND,Asia,India,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,samples tested,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1602,3192,1602,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,1.777156e+07,1.631054e+04,16361.790988,250412.838816,218.830135,219.517968,18788.085344,17.788714,17.844685,339.663321,0.303483,0.304446,1.036766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.596227e+08,7.648863e+05,209.703279,0.673671,7.641420e+05,0.669790,0.063634,91.182218,NaN,1.230772e+09,6.084859e+08,5.178071e+08,1.560842e+08,1.570860e+06,1.169859e+06,100.804225,51.816844,43.267053,12.236394,1402.842291,5.428750e+05,0.064586,56.362601,298.644733,28.747932,5.655259,3.234179,8798.757741,13.479135,312.458120,8.362650,2.348308,48.245677,61.868252,0.784041,70.686128,0.681363,8.484832e+08,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,1.819204e+07,1.289120e+05,46388.354569,200547.036844,1509.741831,534.140774,11446.417969,111.212659,38.720757,201.906051,2.072225,0.732027,0.337476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.894713e+08,1.217877e+06,190.677049,0.831601,7.321700e+05,0.461496,0.066816,178.402390,NaN,9.395195e+08,4.381444e+08,4.175313e+08,9.175763e+07,2.430290e+06,1.933790e+06,60.237354,26.997616,26.547572,6.017369,1833.972756,1.088594e+06,0.103232,20.726648,152.369793,0.550082,0.335050,0.180527,2381.391228,7.751159,30.296532,2.035304,0.450067,27.754152,2.327348,0.255038,1.030154,0.036505,5.709213e+08,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,2.000000e+00,0.000000e+00,0.000000,2.000000,0.000000,0.000000,0.001000,0.000000,0.000000,0.001000,0.000000,0.000000,0.340000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.500000e+03,1.570000e+02,0.005000,0.000000,1.121000e+03,0.001000,0.000900,3.300000,NaN,0.000000e+00,0.000000e+00,5.468000e+03,3.294338e+06,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.230000,0.000000,0.000000e+00,0.000000,0.000000,145.725000,28.200000,5.319000,3.053000,6426.674000,5.700000,282.280000,6.320000,1.900000,20.600000,59.550000,0.530000,69.660000,0.645000,2.755013e+08,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,4.129020e+06,0.000000e+00,172.286000,122111.000000,0.000000,2.286000,6805.253000,0.000000,0.182000,131.273000,0.000000,0.003000,0.850000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.084613e+07,1.561040e+05,49.820000,0.331000,1.600900e+05,0.324000,0.013800,10.100000,NaN,2.031668e+08,1.397375e+08,7.426811e+07,3.745881e+07,2.309500e+03,4.452000e+03,35.890000,26.935000,13.217500,6.950000,16.000000,2.390000e+02,0.000000,37.040000,145.725000,28.200000,5.319000,3.053000,6426.674000,5.700000,282.280000,6.320000,1.900000,20.600000,59.550000,0.530000,69.660000,0.645000,2.755013e+08,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,6.813429e+06,0.000000e+00,1804.714000,161284.000000,0.000000,24.000000,23436.793000,0.000000,3.428000,374.458000,0.000000,0.044000,0.990000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.077281e+08,5.693585e+05,143.062000,0.638500,6.170410e+05,0.642000,0.037700,26.500000,NaN,1.576006e+09,8.378062e+08,6.265218e+08,2.228288e+08,5.100240e+05,2.053970e+05,131.970000,70.055000,58.410000,15.960000,308.500000,3.567450e+04,0.009000,61.570000,450.419000,28.200000,5.989000,3.414000,6426.674000,21.200000,282.280000,10.390000,1.900000,20.600000,59.550000,0.530000,69.660000,0.645000,1.417173e+09,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,4.301945e+07,0.000000e+00,10667.857000,521685.000000,0.000000,185.286000,30355.821000,0.000000,17.560000,564.883000,0.000000,0.331000,1.180000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.111845e+08,1.168970e+06,363.170000,0.862000,1.153561e+06,0.849000,0.099100,72.500000,NaN,2.206429e+09,1.027375e+09,9.518945e+08,2.273392e+08,2.024684e+06,1.442309e+06,155.700000,72.500000,67.170000,16.040000,2310.000000,5.075332e+05,0.086000,71.590000,450.419000,29.300000,5.989000,3.414000,11188.744000,21.200000,342.864000,10.390000,2.800000,76.100000,64.204000,1.040000,71.720000,0.718000,1.417173e+09,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,4.503852e+07,2.738957e+06,391279.571000,533599.000000,28982.000000,4140.286000,31780.534000,1932.690000,276.099000,588.229000,45.169000,6.453000,2.670000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.585264e+08,3.585563e+07,609.938000,25.474000,5.471529e+06,3.887000,0.305400,1125.700000,NaN,2.206867e+09,1.027439e+09,9.519903e+08,2.274381e+08,1.862727e+07,1.003800e+07,162.690000,74.200000,67.180000,25.170000,7715.000000,6.785334e+06,0.480000,100.000000,450.419000,29.300000,5.989000,3.414000,11188.744000,21.200000,342.864000,10.390000,2.800000,76.100000,64.204000,1.040000,71.720000,0.718000,1.417173e+09,NaN,NaN,NaN,NaN

In [ ]:
covid_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3192 entries, 160444 to 163635
Data columns (total 67 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   iso_code                                    3192 non-null   object
 1   continent                                   3192 non-null   object
 2   location                                    3192 non-null   object
 3   date                                        3192 non-null   object
 4   total_cases                                 3089 non-null   float64
 5   new_cases                                   3180 non-null   float64
 6   new_cases_smoothed                          3170 non-null   float64
 7   total_deaths                                3040 non-null   float64
 8   new_deaths                                  3179 non-null   float64
 9   new_deaths_smoothed                         3169 non-null   float64
 10  total_cases_per_million                     3089 non-null   float64
 11  new_cases_per_million                       3180 non-null   float64
 12  new_cases_smoothed_per_million              3170 non-null   float64
 13  total_deaths_per_million                    3040 non-null   float64
 14  new_deaths_per_million                      3179 non-null   float64
 15  new_deaths_smoothed_per_million             3169 non-null   float64
 16  reproduction_rate                           2047 non-null   float64
 17  icu_patients                                0 non-null      float64
 18  icu_patients_per_million                    0 non-null      float64
 19  hosp_patients                               0 non-null      float64
 20  hosp_patients_per_million                   0 non-null      float64
 21  weekly_icu_admissions                       0 non-null      float64
 22  weekly_icu_admissions_per_million           0 non-null      float64
 23  weekly_hosp_admissions                      0 non-null      float64
 24  weekly_hosp_admissions_per_million          0 non-null      float64
 25  total_tests                                 1181 non-null   float64
 26  new_tests                                   1164 non-null   float64
 27  total_tests_per_thousand                    1181 non-null   float64
 28  new_tests_per_thousand                      1164 non-null   float64
 29  new_tests_smoothed                          1189 non-null   float64
 30  new_tests_smoothed_per_thousand             1189 non-null   float64
 31  positive_rate                               1181 non-null   float64
 32  tests_per_case                              1181 non-null   float64
 33  tests_units                                 1203 non-null   object
 34  total_vaccinations                          1633 non-null   float64
 35  people_vaccinated                           1676 non-null   float64
 36  people_fully_vaccinated                     1646 non-null   float64
 37  total_boosters                              943 non-null    float64
 38  new_vaccinations                            1555 non-null   float64
 39  new_vaccinations_smoothed                   2270 non-null   float64
 40  total_vaccinations_per_hundred              1633 non-null   float64
 41  people_vaccinated_per_hundred               1676 non-null   float64
 42  people_fully_vaccinated_per_hundred         1646 non-null   float64
 43  total_boosters_per_hundred                  943 non-null    float64
 44  new_vaccinations_smoothed_per_million       2270 non-null   float64
 45  new_people_vaccinated_smoothed              2270 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  2270 non-null   float64
 47  stringency_index                            2184 non-null   float64
 48  population_density                          3192 non-null   float64
 49  median_age                                  3192 non-null   float64
 50  aged_65_older                               3192 non-null   float64
 51  aged_70_older                               3192 non-null   float64
 52  gdp_per_capita                              3192 non-null   float64
 53  extreme_poverty                             3192 non-null   float64
 54  cardiovasc_death_rate                       3192 non-null   float64
 55  diabetes_prevalence                         3192 non-null   float64
 56  female_smokers                              3192 non-null   float64
 57  male_smokers                                3192 non-null   float64
 58  handwashing_facilities                      3192 non-null   float64
 59  hospital_beds_per_thousand                  3192 non-null   float64
 60  life_expectancy                             3192 non-null   float64
 61  human_development_index                     3192 non-null   float64
 62  population                                  3192 non-null   float64
 63  excess_mortality_cumulative_absolute        0 non-null      float64
 64  excess_mortality_cumulative                 0 non-null      float64
 65  excess_mortality                            0 non-null      float64
 66  excess_mortality_cumulative_per_million     0 non-null      float64
dtypes: float64(62), object(5)
memory usage: 1.7+ MB

In [ ]:
covid_df1['total_cases'].mean()

In [ ]:
covid_df1.shape

In [ ]:
covid_df1['location'].value_counts()

## Data Aggregation

In [ ]:
# Create dataframe
data = {
    'Company':['SAMSUNG','SAMSUNG','SKILVUL','SKILVUL','FB','FB'],
    'Person':['Ayub','Amri','Calvin','Addie','Becca','Sara'],
    'Sales':[200,1200,340,124,243,350],
    'Margin':[40,40,34,100,56,60]
    }

In [ ]:
df = pd.DataFrame(data)
df

   Company  Person  Sales  Margin
0  SAMSUNG    Ayub    200      40
1  SAMSUNG    Amri   1200      40
2  SKILVUL  Calvin    340      34
3  SKILVUL   Addie    124     100
4       FB   Becca    243      56
5       FB    Sara    350      60

In [ ]:
df.describe(include="all")

        Company Person        Sales      Margin
count         6      6     6.000000    6.000000
unique        3      6          NaN         NaN
top     SAMSUNG   Ayub          NaN         NaN
freq          2      1          NaN         NaN
mean        NaN    NaN   409.500000   55.000000
std         NaN    NaN   396.581265   24.256958
min         NaN    NaN   124.000000   34.000000
25%         NaN    NaN   210.750000   40.000000
50%         NaN    NaN   291.500000   48.000000
75%         NaN    NaN   347.500000   59.000000
max         NaN    NaN  1200.000000  100.000000

**Now you can use the .groupby() method to group rows together based off of a column name**


For instance let's group based off of Company. This will create a *DataFrameGroupBy* object:

In [ ]:
df.groupby('Company')
#select company from df group by company

In [ ]:
# You can save this object as a new variable:
by_comp = df.groupby('Company')
print(by_comp)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7eb424f8cca0>

In [ ]:
# And then call aggregate methods off the object:
display(df)
by_comp['Sales'].max()

   Company  Person  Sales  Margin
0  SAMSUNG    Ayub    200      40
1  SAMSUNG    Amri   1200      40
2  SKILVUL  Calvin    340      34
3  SKILVUL   Addie    124     100
4       FB   Becca    243      56
5       FB    Sara    350      60

Company
FB          350
SAMSUNG    1200
SKILVUL     340
Name: Sales, dtype: int64

In [ ]:
# In one step:
df.groupby('Company')['Sales'].std()

Company
FB          75.660426
SAMSUNG    707.106781
SKILVUL    152.735065
Name: Sales, dtype: float64

**More examples of aggregate methods in pandas:**

In [ ]:
by_comp['Sales'].std()

In [ ]:
by_comp.min()

In [ ]:
by_comp.max()

In [ ]:
by_comp.count()

In [ ]:
by_comp.describe()

In [ ]:
display(df.groupby('Company')['Sales'].aggregate(['mean','sum','max','min']))

print()

df.groupby('Company')['Sales'].aggregate(['mean','sum','max','min']).transpose()

          mean   sum   max  min
Company
FB       296.5   593   350  243
SAMSUNG  700.0  1400  1200  200
SKILVUL  232.0   464   340  124

Company     FB  SAMSUNG  SKILVUL
mean     296.5    700.0    232.0
sum      593.0   1400.0    464.0
max      350.0   1200.0    340.0
min      243.0    200.0    124.0

In [ ]:
by_comp.describe().transpose()

Company               FB      SAMSUNG     SKILVUL
Sales  count    2.000000     2.000000    2.000000
       mean   296.500000   700.000000  232.000000
       std     75.660426   707.106781  152.735065
       min    243.000000   200.000000  124.000000
       25%    269.750000   450.000000  178.000000
       50%    296.500000   700.000000  232.000000
       75%    323.250000   950.000000  286.000000
       max    350.000000  1200.000000  340.000000
Margin count    2.000000     2.000000    2.000000
       mean    58.000000    40.000000   67.000000
       std      2.828427     0.000000   46.669048
       min     56.000000    40.000000   34.000000
       25%     57.000000    40.000000   50.500000
       50%     58.000000    40.000000   67.000000
       75%     59.000000    40.000000   83.500000
       max     60.000000    40.000000  100.000000

In [ ]:
by_comp.describe().transpose()['SKILVUL']

In [ ]:
# Let's try some aggregagation on our COVID Data:
covid_df.groupby(['continent','location'])['new_cases'].aggregate(['count','mean','median']).sort_values('location')

## Operations on Pandas Columns
* Addition, Subtraction, etc.
* sort_values(), sort_index()
* Dropping columns
* Applying functions to Pandas Dataframes (Map and Apply)

### Column Operations

In [ ]:
temp_df = covid_df1 [['location',	'date', 'new_cases']].tail(10)
temp_df

In [ ]:
temp_df['new_cases_added'] = temp_df['new_cases'] + temp_df['new_cases']
temp_df

In [ ]:
temp_df['new_cases_twice'] = temp_df['new_cases'] *2

In [ ]:
temp_df.sort_values(by = ['new_cases','date'],ascending=[False,True], inplace=True)

In [ ]:
temp_df

In [ ]:
temp_df.sort_index(inplace=True)
temp_df

In [ ]:
temp_df.drop(['new_cases_added','new_cases_twice'],axis = 1)

In [ ]:
temp_df

In [ ]:
temp_df.drop(columns = ['new_cases_added','new_cases_twice'],inplace = True)

### Applying functions to Pandas dataframes
[Reference Link for Map and Apply](https://towardsdatascience.com/introduction-to-pandas-apply-applymap-and-map-5d3e044e93ff)

In [ ]:
temp_df

In [ ]:
# In-built Python method
temp_df['sqrt_new_cases'] = temp_df['new_cases'].apply(np.sqrt)
temp_df

Create a column as 'new_cases_category' which shows:
* <=40 Cases             -- 'Low'
* 40k+ to 50k Cases      -- 'Medium'
* Greater than 50k Cases -- 'High'

In [ ]:
# UDF - User defined function
def category_fn (number_of_cases):
  if number_of_cases<=40000: cat = 'Low'
  elif number_of_cases>50000: cat = 'High'
  else: cat = 'Medium'
  return cat

In [ ]:
category_fn (55000)

In [ ]:
temp_df['new_cases_category'] = temp_df['new_cases'].apply(category_fn)
temp_df

In [ ]:
temp_df['new_cases_category1'] = temp_df['new_cases'].map(category_fn)
temp_df

#### Comparing map, applymap and apply: **Context Matters**

[Reference Link](https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas)

**First major difference: DEFINITION**

* `map` is defined on Series ONLY
* `applymap` is defined on DataFrames ONLY
* `apply` is defined on BOTH

**Second major difference: INPUT ARGUMENT**
* `map` accepts dicts, Series, or callable
* `applymap` and apply accept callables only

**Third major difference: BEHAVIOR**

* `map` is elementwise for Series
* `applymap` is elementwise for DataFrames
* `apply` also works elementwise but is suited to more complex operations and aggregation. The behaviour and return value depends on the function.

**Fourth major difference (the most important one): USE CASE**

* `map` is meant for mapping values from one domain to another, so is optimised for performance (e.g., df['A'].map({1:'a', 2:'b', 3:'c'}))
* `applymap` is good for elementwise transformations across multiple rows/columns (e.g., df[['A', 'B', 'C']].applymap(str.strip))
* `apply` is for applying any function that cannot be vectorised (e.g., df['sentences'].apply(nltk.sent_tokenize))

&nbsp;

**Summarizing:**
<img src="https://i.stack.imgur.com/IZys3.png">

> **Footnotes:**
1. `map` when passed a dictionary/Series will map elements based on the keys in that dictionary/Series. Missing values will be recorded as NaN in the output.
2. `applymap` in more recent versions has been optimised for some operations. You will find `applymap` slightly faster than apply in some cases. My suggestion is to test them both and use whatever works better.
3. `map` is optimised for elementwise mappings and transformation. Operations that involve dictionaries or Series will enable pandas to use faster code paths for better performance.
4. `Series.apply` returns a scalar for aggregating operations, Series otherwise. Similarly for `DataFrame.apply`. Note that `apply` also has fastpaths when called with certain NumPy functions such as `mean`, `sum`, etc.

## Merging, Joining, and Concatenating (Optional)

There are 3 main ways of combining DataFrames together: Merging, Joining and Concatenating. In this section we will discuss these 3 methods with examples.

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

In [ ]:
df1

In [ ]:
df2

In [ ]:
df3

### Concatenation
Concatenation basically glues together DataFrames. Keep in mind that dimensions should match along the axis you are concatenating on. You can use pd.concat and pass in a list of DataFrames to concatenate together:

In [ ]:
# Similar to Union of 2 or more tables in SQL
pd.concat([df1,df2,df3])

In [ ]:
pd.concat([df1,df2,df3],axis=1)

In [ ]:
df2.reset_index()

In [ ]:
pd.concat([df1,df2.reset_index(drop=True),df3.reset_index(drop=True)],axis=1)

### Merging

The **merge** function allows you to merge DataFrames together using a similar logic as joining SQL Tables together.

In [ ]:
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
pd.merge(df1,df2,how='inner',on='key')

More complicated example:

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})

right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                               'key2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
pd.merge(left, right, on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='outer', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='left', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='inner', left_on = 'key1', right_on = 'key2')

### Joining
Joining is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2'])

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left.join(right)

In [ ]:
left.join(right, how='outer')